{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro crumbToken(crumb) %}
  <input type="hidden" name="crumb" id="crumb"
    value="{{ crumb }}"  autocomplete="off" />
{% endmacro %}

{% macro sideBar(heading, para, items) %}
  <div class="govuk-grid-column-one-third  govuk-!-padding-top-4 govuk-body">
  <hr class="sideBarColor"/>
    <h2 class="govuk-heading-m" id="subsection-title">
      {{ heading }}
    </h2>        
    <p>{{para  | striptags(true) | escape | nl2br }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro multiSideBar(sideBars) %}
  <div class="govuk-grid-column-one-third  govuk-!-padding-top-4 govuk-body">
  <hr class="sideBarColor"/>
  {% for sidebar in sideBars %}
    <h2 class="govuk-heading-m" id="subsection-title">
      {{ sidebar.heading }}
    </h2>        
    <p>{{sidebar.para  | striptags(true) | escape | nl2br }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in sidebar.items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
  </div>
{% endmacro %}

{% macro conditionalButtons (hasScore) %}
  {% if hasScore %}
    {{ govukButton({
          text: "Back to results",
          name: "results",
          value: "results"
        }) }} &nbsp;
          {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Next question"
        }) }}
  {% else %}
    {{ govukButton({
            text: "Continue"
          }) }}
  {% endif %} 
{% endmacro %}