{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro crumbToken(crumb) %}
  <input type="hidden" name="crumb" id="crumb"
    value="{{ crumb }}"  autocomplete="off" />
{% endmacro %}

{% macro sideBar(heading, para, items) %}
  <div class="govuk-grid-column-one-third  govuk-!-padding-top-4 govuk-body">
  <hr class="sideBarColor"/>
    <h2 class="govuk-heading-m" id="subsection-title">
      {{ heading }}
    </h2>        
    <p>{{para  | striptags(true) | escape | nl2br }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro multiSideBar(sideBars) %}
  <div class="govuk-grid-column-one-third  govuk-!-padding-top-4 govuk-body">
    <hr class="sideBarColor"/>

    {% for sidebar in sideBars %}
      <h2 class="govuk-heading-m" id="subsection-title">
        {{ sidebar.heading }}
      </h2>

      {% for content in sidebar.content %}
        <p>{{content.para  | striptags(true) | escape | nl2br }}</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for item in content.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}

  </div>
{% endmacro %}

{% macro conditionalButtons (hasScoreOrDetails, destination) %}
  {{ govukButton({
      text: "Continue",
      attributes: {id: "btnContinue"}
    })
  }} &nbsp;

  {% if hasScoreOrDetails %}
    {% if destination == 'score' %}
      {% set buttonText = 'Back to score' %}
      {% set buttonId = 'btnBackToScore' %}
    {% elif destination == 'details' %}
      {% set buttonText = 'Back to details' %}
      {% set buttonId = 'btnBackToContact' %}
    {% endif %}

    {{ govukButton({
        classes: "govuk-button--secondary",
        text: buttonText,
        name: "results",
        value: "results",
        attributes: {id: buttonId}
      })
    }}
  {% endif %} 

{% endmacro %}