{% if googleTagManagerKey %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsTagKey}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  var referrer = document.referrer;
  var host = window.location.hostname;
  function gtag(){dataLayer.push({...arguments, referrer, host});}
  gtag('js', new Date());
  gtag('config', '{{analyticsTagKey}}');
</script>
{% endif %}
