node_modules
npm-debug.log
auth
helm
docs
app/static/stylesheets/*.css*
scripts
test-output
docker-compose*
Jenkinsfile
README.md
LICENCE
Dockerfile
.secrets.baseline
.snyk
.pre-commit-config.yaml
jsconfig.json
.dockerignore
.vscode
.vs
.gitignore
sonar-project.properties
test/acceptance
