{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}GOV.UK - Defra grants{% endblock %}
{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <%= htmlWebpackPlugin.tags.headTags %>
  {% if cookiesPolicy.analytics %}
    {% include "tag-manager/head-content.njk" %}
  {% endif %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Check if you can apply for a Farming Transformation Fund water grant",
    serviceUrl: "/"
  }) }}
    <div class="govuk-grid-row govuk-width-container">
      {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
    </div>
{% endblock %}

{% block bodyStart %}
  {% if not cookiesPolicy.confirmed %}
    {% include "cookies/cookie-banner.njk"  %}
  {% endif %}

  {% if cookiesPolicy.analytics %}
    {% include "tag-manager/body-content.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/site-cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}
{% block bodyEnd %}
  <%= htmlWebpackPlugin.tags.bodyTags %>
{% endblock %}