{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set urlPrefix = "<%= htmlWebpackPlugin.options.metadata.urlPrefix %>" %}
{% set assetPath = urlPrefix + "/assets" %}
{% set siteTitle = "Check if you can apply for a Farming Transformation Fund water grant - gov.uk" %}
{% block pageTitle %}
  {{siteTitle}}
{% endblock %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <%= htmlWebpackPlugin.tags.headTags %>
  {% if cookiesPolicy.analytics %}
    {% include "tag-manager/head-content.njk" %}
  {% endif %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: startPageUrl,
    serviceName: "Check if you can apply for a Farming Transformation Fund water management grant",
    serviceUrl: startPageUrl
  }) }}
  <div class="govuk-grid-row govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="<%= htmlWebpackPlugin.options.metadata.surveyLink %>" target="_blank" rel="noopener noreferrer">feedback</a> will help us to improve it.'
    }) }}
  </div>
{% endblock %}

{% block bodyStart %}
  {% if not cookiesPolicy.confirmed %}
    {% include "cookies/cookie-banner.njk" %}
  {% endif %}
  {% if cookiesPolicy.analytics %}
    {% include "tag-manager/body-content.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
  meta: {
  html: '<h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="<%= htmlWebpackPlugin.options.metadata.urlPrefix %>/accessibility" rel="noopener noreferrer">
                Accessibility
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="<%= htmlWebpackPlugin.options.metadata.urlPrefix %>/cookies" rel="noopener noreferrer">
                Cookies
              </a>
            </li>
              <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="<%= htmlWebpackPlugin.options.metadata.surveyLink %>" target="_blank" rel="noopener noreferrer">
                Feedback
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" target="_blank" rel="noopener noreferrer">
                Privacy
              </a>
            </li>
          </ul>'
    }
}) }}
{% endblock %}

{% block bodyEnd %}
  <%= htmlWebpackPlugin.tags.bodyTags %>
{% endblock %}