{% extends "govuk/template.njk" %}

{% block pageTitle %}GOV.UK - Defra grants{% endblock %}

{% block head %}
<h1>THIS IS SLURRY</h1>
  <%= htmlWebpackPlugin.tags.headTags %>
{% endblock %}

{% block bodyEnd %}
  <%= htmlWebpackPlugin.tags.bodyTags %>
{% endblock %}