{% extends '.layout.njk' %}
{% block pageTitle %}
  {{siteTitle}} - Bad request 
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Bad request.</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
