{% extends '.layout.njk' %}
{% block pageTitle %}
  {{siteTitle}} - Problem with service 
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
          <p class="govuk-body">Try again later.</p>
          <p class="govuk-body">We have not saved your answers. When the service is available, you will have to start again.</p>
          <p class="govuk-body">Contact the RPA Helpline if you have any questions.</p>
          <p class="govuk-body">Telephone: 03000 200 301</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
