{% extends '.layout.njk' %}

{% from "./components/macro.njk" import conditionalButtons %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  {% if errorList %}
    Error: 
  {% endif %} {{ pageHeader }} - {{siteTitle}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    {{govukErrorSummary ({
    "titleText": "There is a problem",
    "errorList": errorList
    }) }}
  {% endif %}
  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{pageHeader}}</h1>
    <span id="project-items-hint" class="govuk-hint">
        Enter the farmer and farm business details
      </span><br/>
      <form method="POST" action="{{formActionPage}}" autocomplete="on" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}" />
        <h2 class="govuk-heading-m">Name</h2><br/>
        {{ govukInput(inputFirstName) }}
        {{ govukInput(inputLastName) }}
        
        {% if hiddenInput %}
        {{ govukInput(hiddenInput) }}
        {% endif %}

        {% if inputBusinessName %}
          {{ govukInput(inputBusinessName) }}
        {% endif %}



        <h2 class="govuk-heading-m">Contact details</h2><br/>
        {{ govukInput(inputEmail) }}
        {% if inputEmailConfirm %}
          {{ govukInput(inputEmailConfirm) }}
        {% endif %}
        {{ govukInput(inputMobile) }}
        {{ govukInput(inputLandline) }}
        <h2 class="govuk-heading-m">Business address</h2><br/>
        {{ govukInput(inputAddress1) }}
        {{ govukInput(inputAddress2) }}
        {{ govukInput(inputTown) }}
        {{ govukSelect(selectCounty) }}
        {{ govukInput(inputPostcode) }}
        {% if inputProjPostcode %}
          {{ govukInput(inputProjPostcode) }}
        {% endif %}
        {{ conditionalButtons(checkDetail, 'Back to details') }}

      </form>
    </div>
  </div>
{% endblock %}