{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "./components/macro.njk" import crumbToken %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if errorList %}
    Error: 
  {% endif %} Who is applying for this grant? - {{siteTitle}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    {{govukErrorSummary ({
    "titleText": "There is a problem",
    "errorList": errorList
    }) }}
  {% endif %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukRadios(radios) }}
        {{ govukButton({
          text: "Continue",
          attributes: {id: "btnContinue"}
        }) }}
      </form>
    </div>
  </div>
{% endblock %}