{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./components/macro.njk" import crumbToken %}
{% block pageTitle %}
  {{siteTitle}} - Business details 
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Business details</h1>
      <form method="POST" action="./business-details" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}<br/>
        {{ govukInput(inputProjectName) }}<br/>
        {{ govukInput(inputBusinessName) }}<br/>
        {{ govukInput(inputNumberEmployees) }}<br/>
        {{ govukInput(inputBusinessTurnover) }}<br/>
        {{ govukInput(inputSbi) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
