{% extends '.layout.njk' %}

{% from "./components/macro.njk" import conditionalButtons %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./components/macro.njk" import crumbToken %}
{% block pageTitle %}
  Business details - {{siteTitle}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Business details</h1>
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ govukInput(inputProjectName) }}
        {{ govukInput(inputBusinessName) }}
        {{ govukInput(inputNumberEmployees) }}
        {{ govukInput(inputBusinessTurnover) }}
        {{ govukInput(inputSbi) }}
        {{ conditionalButtons(checkDetail,'Back to details') }}

      </form>
    </div>
  </div>
{% endblock %}
