{% extends '.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./components/macro.njk" import crumbToken %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% block pageTitle %}
  {{siteTitle}} - Check your details
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your details</h1>
      {% if businessDetails %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: '<p class="govuk-body govuk-!-font-size-24"><strong>Business details</strong></p>'
            },
            actions: {
              items: [
                {
                  href: businessDetailsLink,
                  text: "Change",
                  visuallyHiddenText: "business details"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Project name"
            },
            value: {
              text:  businessDetails.projectName
            }
          },
          {
            key: {
              text: "Business name"
            },
            value: {
              text: businessDetails.businessName
            }
          },
          {
            key: {
              text: "Number of employees"
            },
            value: {
              text: businessDetails.numberEmployees
            }
          },
          {
            key: {
              text: "Business turnover"
            },
            value: {
              text: businessDetails.businessTurnover
            }
          },
          {
            key: {
              text: "Single Business Identifier (SBI)"
            },
            value: {
              text: businessDetails.sbi
            }
          }

        ]
      }) }}

      {% endif %}
      <br/>
      {% if agentDetails %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "<h4>Agent's details</h4>"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: agentDetailsLink,
                  text: "Change",
                  visuallyHiddenText: "agent-details"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text:  agentDetails
            }
          },
          {
            key: {
              text: "Business name"
            },
            value: {
              html: agentBusinessName
            }
          },
          {
            key: {
              text: "Contact details"
            },
            value: {
              html: agentContactDetails
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: agentAddressDetails
            }
          }
        ]
      }) }}
      {% endif %}
      <br/>
      {% if farmerDetails %}
      {% set farmerSummaryItems = [
          {
            key: {
              text: "Name"
            },
            value: {
              text:  farmerDetails
            }
          },
          {
            key: {
              text: "Contact details"
            },
            value: {
              html: farmerContactDetails
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: farmerAddressDetails
            }
          }
        ] %}

      {% if farmerGender %}
      {% set farmerSummaryItems = (farmerSummaryItems.splice(1, 0,{
            
          }), farmerSummaryItems)%}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: "<h4>Farmer's details</h4>"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: farmerDetailsLink,
                  text: "Change",
                  visuallyHiddenText: "farmer-details"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukSummaryList({ rows: farmerSummaryItems }) }}
      {% endif %}

    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate>
          {{ crumbToken(crumb)}}
          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}




/////////////////////////////

[14:22] Nagy, Robert
    
{​​​​​​​% extends "layout.html" %}​​​​​​​


{​​​​​​​% block pageTitle %}​​​​​​​
  Check your answers
{​​​​​​​% endblock %}​​​​​​​
{​​​​​​​% from "govuk/components/back-link/macro.njk" import govukBackLink %}​​​​​​​
{​​​​​​​% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}​​​​​​​
{​​​​​​​% from "govuk/components/button/macro.njk" import govukButton %}​​​​​​​


{​​​​​​​% block beforeContent %}​​​​​​​
  {​​​​​​​{​​​​​​​ govukBackLink({​​​​​​​
    text: "Back",
    href: "#"
  }​​​​​​​) }​​​​​​​}​​​​​​​
{​​​​​​​% endblock %}​​​​​​​


{​​​​​​​% block content %}​​​​​​​
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>


      <h2 class="govuk-heading-m">Personal details</h2>


      {​​​​​​​{​​​​​​​ govukSummaryList({​​​​​​​
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {​​​​​​​
            key: {​​​​​​​
              text: "Name"
            }​​​​​​​,
            value: {​​​​​​​
              text: "Sarah Philips"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​,
          {​​​​​​​
            key: {​​​​​​​
              text: "Date of birth"
            }​​​​​​​,
            value: {​​​​​​​
              text: "5 January 1978"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​,
          {​​​​​​​
            key: {​​​​​​​
              text: "Address"
            }​​​​​​​,
            value: {​​​​​​​
              html: "72 Guild Street<br>London<br>SE23 6FH"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​,
          {​​​​​​​
            key: {​​​​​​​
              text: "Contact details"
            }​​​​​​​,
            value: {​​​​​​​
              html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​
        ]
      }​​​​​​​) }​​​​​​​}​​​​​​​



      <h2 class="govuk-heading-m">Application details</h2>


      {​​​​​​​{​​​​​​​ govukSummaryList({​​​​​​​
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {​​​​​​​
            key: {​​​​​​​
              text: "Previous application number"
            }​​​​​​​,
            value: {​​​​​​​
              text: "502135326"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​,
          {​​​​​​​
            key: {​​​​​​​
              text: "Licence type"
            }​​​​​​​,
            value: {​​​​​​​
              text: "For personal use"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​,
          {​​​​​​​
            key: {​​​​​​​
              text: "Home address"
            }​​​​​​​,
            value: {​​​​​​​
              html: "72 Guild Street<br>London<br>SE23 6FH"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​,
          {​​​​​​​
            key: {​​​​​​​
              text: "Licence period"
            }​​​​​​​,
            value: {​​​​​​​
              text: "Valid for 6 months"
            }​​​​​​​,
            actions: {​​​​​​​
              items: [
                {​​​​​​​
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }​​​​​​​
              ]
            }​​​​​​​
          }​​​​​​​
        ]
      }​​​​​​​) }​​​​​​​}​​​​​​​


      <h2 class="govuk-heading-m">Now send your application</h2>


      <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


      <form action="/form-handler" method="post" novalidate>


        <input type="hidden" name="answers-checked" value="true">


        {​​​​​​​{​​​​​​​ govukButton({​​​​​​​
          text: "Accept and send"
        }​​​​​​​) }​​​​​​​}​​​​​​​


      </form>


    </div>
  </div>
{​​​​​​​% endblock %}​​​​​​​
