{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "./components/macro.njk" import crumbToken %}
{% block pageTitle %}
  {{siteTitle}} - Confirm
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}
{% endblock %}


{% set checkboxConfirmOptional = {
    idPrefix: consentOptionalData.idPrefix,
    name: consentOptionalData.name,
    items: [{
      value: consentOptionalData.items[0].value,
      text: consentOptionalData.items[0].text,
      checked: consentOptionalData.items[0].checked,
      selected: consentOptionalData.items[0].selected
    }]
  }
%}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-l">Confirm and send</h1>
      <p>I confirm that, to the best of my knowledge, the details I have provided are correct.</p>
      <p>I understand the score was based on the answers I provided.</p>
      <p>I am aware the information I submit will be checked.</p>
      <p>I am happy to be contacted by Defra and RPA (or a third-party on their behalf) about the application.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukCheckboxes(checkboxConfirmOptional) }}
        {{ govukButton({
          text: "Confirm and send",
          attributes: {id: "btnConfirmSend"}
        }) }}
      </form>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <hr/>
      <p>
        The Department for Environment, Food and Rural Affairs (Defra) is the data controller for personal data you give to RPA. For information on how we handle personal data go to <a href="https://www.gov.uk" target="_blank" rel="noopener noreferrer">GOV.UK (opens in a new tab)</a> and search
        <a href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" target="_blank" rel="noopener noreferrer">Rural Payments Agency personal information charter (opens in a new tab).</a>
      </p>
    </div>
  </div>
{% endblock %}
