{% extends '.layout.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  Reference - {{siteTitle}}
{% endblock %}

{% block content %}
  {{ govukPanel(output) }}

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds  govuk-body">
          <p>We have sent you a confirmation email with a record of your answers.</p> 
          <p>If you do not get an email within 72 hours, please contact RPA helpline and follow the options for Farming Transformation Fund scheme:</p> 
          <br/>

          <h2 class="govuk-heading-m">RPA helpline</h2>
          <h3 class="govuk-heading-s">Telephone</h3>
          <p>Telephone: 03000 200 301</p> 
          <p>Monday to Friday, 9am to 5pm (except public holidays)</p> 
          <p><a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges" rel="noopener noreferrer">Find out about call charges (opens in a new tab)</a></p>

          <h3 class="govuk-heading-s">Email</h3>
          <p><a class="govuk-link" target="_blank" href="mailto:ftf@rpa.gov.uk" rel="noopener noreferrer">FTF@rpa.gov.uk</a></p>
          <br/>

          <h2 class="govuk-heading-m">What happens next</h2>
          <ol>
            <li>
              RPA will be in touch when the full application period opens.
              They will tell you if your project scored well enough to get the full application form.
            </li>
            <br/>

            <li>
              If you submit an application, RPA will assess it against other projects and value for money.
              You will not automatically get a grant.
              The grant is expected to be highly competitive and you are competing against other projects.
            </li>
            <br/>

            <li>
              If your application is successful, you'll be sent a funding agreement and can begin work on the project.
            </li>
          </ol>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds  govuk-body">
        {{ govukWarningText({
            html: "<h2 class='govuk-heading-m'>You must not start the project.</h2>",
            iconFallbackText: "Warning"
          })
        }}
        <p>Starting the project or committing to any costs (such as placing orders) before you receive a funding agreement will invalidate your application.</p> 
        <p>Before you start the project, you can:</p>
        <ul>
          <li>get quotes from suppliers</li>
          <li>apply for planning permission or an abstraction licence</li>
        </ul>
    </div>
  </div>

  <p class="govuk-body"><a class="govuk-link" href="{{ output.surveyLink }}" target="_blank" rel="noopener noreferrer">What do you think of this service? (opens in a new tab)</a></p>
{% endblock %}
