{% extends '.layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./components/macro.njk" import crumbToken %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <form method="POST" action="./contact-details" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ govukInput(emailInput) }}
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third" style="background:#f3f2f1; padding-top:15px;">
      <h1 class="govuk-heading-m">Return to this later</h1>
      <p class="govuk-body"><a href="/save-progress?back=contact-details" class="govuk-link">Save my progress</a></p>
    </div>
  </div>
{% endblock %}
