{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "./components/macro.njk" import crumbToken %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% block pageTitle %}
  GOV.UK - Defra grants - Farming type  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="./farming-type" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ govukRadios(radios) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third  govuk-body">
      <div class="gem-c-contextual-sidebar">
        <div class="gem-c-related-navigation">
          <h2>
            Eligibility
          </h2>
          <p>This grant is for:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>arable and horticultural farming businesses supplying the food industry</li>
                <li>nurseries growing flowers</li>
                <li>forestry nurseries</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
