{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "./components/macro.njk" import crumbToken, sideBar %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% block pageTitle %}
  {{siteTitle}} - Farming type  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="./farming-type" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ govukRadios(radios) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    {{ sideBar("Eligibility","This grant is for:",
    [
      "arable and horticultural farming businesses supplying the food industry",
      "nurseries growing flowers",
      "forestry nurseries"
    ]) }}
  </div>
{% endblock %}
