{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/grant" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}" />
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Potential grant funding</h1>
        </legend>
        <label class="govuk-label">
          You may be able to apply for a grant of up to
          <span class="govuk-!-font-weight-bold">£{{calculatedGrant}}</span>,
          based on the estimated cost of £{{projectCost}}.
        </label>
        {{ govukInsetText({
            text: "The project is not guaranteed to receive a grant."
           })
        }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
