{% extends '.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "./components/macro.njk" import crumbToken, sideBar,multiSideBar, conditionalButtons%}
{% block pageTitle %}
  {{siteTitle}} - Irrigation water
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
  {% if errorList %}
  {{govukErrorSummary ({
  "titleText": "There is a problem",
  "errorList": errorList
}) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="./irrigation-water-source" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukCheckboxes(waterSourceCurrent) }}
        {{ govukCheckboxes(waterSourcePlanned) }}
        {{ conditionalButtons(hasScore) }}
      </form>
    </div>
    {{ multiSideBar([{heading:"Funding priorities",para:"RPA wants to fund projects that:",
    items:[
      "improve the environment","improve water sustainability"
    ]},{ para:"RPA will not fund projects where water is supplied by:",
    items:[
      "summer water surface abstraction","mains"
    ]}]) }}
  </div>
{% endblock %}