{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "./components/macro.njk" import crumbToken %}
{% block pageTitle %}
  GOV.UK - Defra grants - Irrigation water
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
  {% if errorList %}
  {{govukErrorSummary ({
  "titleText": "There is a problem",
  "errorList": errorList
}) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="./irrigation-water-source" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukCheckboxes(waterSourceCurrent) }}
        {{ govukCheckboxes(waterSourcePlanned) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}