{% extends '.layout.njk' %}

{% from "dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "./components/macro.njk" import crumbToken, sideBar, conditionalButtons %}
{% from "dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if errorList %}
    Error: 
  {% endif %} {{pageTitle}} - {{siteTitle}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    {{govukErrorSummary ({
    "titleText": "There is a problem",
    "errorList": errorList
    }) }}
  {% endif %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageTitle}}</h1>
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {% if currentlyIrrigating %}
          {{ govukInput(currentInput) }}
        {% else %}
          {{ govukInput(hiddenInput) }}
        {% endif %}
        
        {{ govukInput(irrigatedLandTarget) }}
        {{ conditionalButtons(hasScore) }}
      </form>
    </div>
    {% if currentlyIrrigating %}
      {{ sideBar("Funding priorities","RPA wants to fund projects that:",
      [
        "improve productivity"
      ], 'h3') }}
    {% else %}
      {{ sideBar("Funding priorities","RPA wants to fund projects that:",
      [
        "improve productivity"
      ], 'h2') }}

    {% endif %}
    
  </div>
{% endblock %}