{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "./components/macro.njk" import crumbToken, sideBar %}

{% block pageTitle %}
  {{siteTitle}} - Legal status
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukRadios(radios) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
    {{ sideBar("Eligibility","You can apply if you are a:",
    [
      "Sole trader","Partnership","Ltd company","Charity","Public organisation","Trust",
      "Limited liability partnership","Community interest company","Local authority",
      "Limited partnership","Industrial and provident society","Co-operative society (Co-Op)","Community benefit society (BenCom)"
    ]) }}
  </div>
{% endblock %}