{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-l">Check if you can apply for a water resource management grant</h1>

      {% if errorMessage %}
        {{ govukErrorMessage({
          text: errorMessage
        }) }}
      {% endif %}

      <form method="POST" action="/login" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}" />
        <div class="govuk-form-group {{ "govuk-form-group--error" if errorMessage }}">
          {{ govukInput(usernameInput) }}
          {{ govukInput(passwordInput) }}
        </div>
        {{ govukButton({
          text: 'Login'
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
