{% extends '.layout.njk' %}

{% from "./components/macro.njk" import conditionalButtons %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  {{siteTitle}} - {{ pageHeader }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{pageHeader}}</h1>
      <form method="POST" action="{{formActionPage}}" autocomplete="off" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}" />
        <h1 class="govuk-heading-m">Name</h1><br/>
        {{ govukInput(inputFirstName) }}
        {{ govukInput(inputLastName) }}
        
        {% if hiddenInput %}
        {{ govukInput(hiddenInput) }}
        {% endif %}

        {% if inputBusinessName %}
          {{ govukInput(inputBusinessName) }}
        {% endif %}



        <h1 class="govuk-heading-m">Contact details</h1><br/>
        {{ govukInput(inputEmail) }}
        {{ govukInput(inputMobile) }}
        {{ govukInput(inputLandline) }}
        <h1 class="govuk-heading-m">Address</h1><br/>
        {{ govukInput(inputAddress1) }}
        {{ govukInput(inputAddress2) }}
        {{ govukInput(inputTown) }}
        {{ govukSelect(selectCounty) }}
        {{ govukInput(inputPostcode) }}
        {{ conditionalButtons(checkDetail,'Back to details') }}

      </form>
    </div>
  </div>
{% endblock %}