{% extends '.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
  {{siteTitle}} - You cannot apply for grant
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>
      <p class="govuk-body">
        {{ messageContent | safe}}
      </p>
      {% if messageLink %}
        <p class="govuk-body"><a href="{{messageLink.url}}" class="govuk-link">{{messageLink.title}}</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}