{% extends '.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
  GOV.UK - Defra grants - You cannot apply for grant
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>
      <p class="govuk-body">
        {{ messageContent | safe}}
      </p>
    </div>
  </div>
  
{% if googleTagManagerKey %}

<!-- Google Tag Manager -->
<script>
dataLayer.push(
    {
      pageCategory: 'Journey',
      event: 'journey-eliminated',
      dimension4:'Not-Eligible',
      metric2: Date.now()
    });
</script>
<!-- End Google Tag Manager -->
{% endif %}
{% endblock %}