{% extends '.layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Check if you can apply for a water resource management grant",
        href: "/"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
{{ govukErrorSummary(errorMessage) }}
{% endblock %}
