{% extends '.layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block pageTitle %}
  {{siteTitle}} - Page not found
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: urlPrefix + "/start"
      },
      {
        text: "Check if you can apply for a Farming Transformation Fund water management grant",
        href: urlPrefix + "/start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
{{ govukErrorSummary(errorMessage) }}
{% endblock %}
