{% extends '.layout.njk' %}
{% from "dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "dist/govuk/components/details/macro.njk" import govukDetails %}
{% from "dist/govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "dist/govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  You cannot apply for a grant from this scheme - {{siteTitle}}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: backLink,
  attributes: {id: 'linkBack'}
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>
      <p class="govuk-body">
        {{ messageContent | safe}}
      </p>

      {% if insertText %}
        {{ govukInsetText(insertText) }}
      {% endif %}

      {% if details %} 
        {{ govukDetails(details) }}
      {% endif %}

      {% if warning %} 
        {{ govukWarningText(warning) }}
      {% endif %}

      {% if messageLink %}
        <p class="govuk-body"><a href="{{messageLink.url}}" class="govuk-link" rel="noopener noreferrer">{{messageLink.title}}</a></p>
      {% endif %}
      
    </div>
  </div>
{% endblock %}