{% extends '.layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block pageTitle %}
  GOV.UK - Defra grants - Page not found 
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "./"
      },
      {
        text: "Check if you can apply for a Farming Transformation Fund water management grant",
        href: "./"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
{{ govukErrorSummary(errorMessage) }}
{% endblock %}
