{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./components/macro.njk" import crumbToken %}
{% block pageTitle %}
  GOV.UK - Defra grants - Planning permission
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="./planning-permission" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukRadios(radios) }}

        {{ govukDetails({
            summaryText: "Help",
            html:
            'Any planning permission required must be in place to submit a full application.'
          })
        }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}