{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./components/macro.njk" import crumbToken, sideBar  %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block pageTitle %}
  {{siteTitle}} - Project cost
{% endblock %}7

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ govukInput(inputProjectCost) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
          {{ sideBar("Items selected","",projectItemsList) }}
      </ul>
    </div>
  </div>
{% endblock %}
