{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "./components/macro.njk" import crumbToken, sideBar, conditionalButtons %}
{% block pageTitle %}
  {{siteTitle}} - Project summary
{% endblock %}

{% block beforeContent %}
  {% if not hasScore %}
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  {% endif %}
  {% if errorList %}
    {{govukErrorSummary ({
  "titleText": "There is a problem",
  "errorList": errorList
}) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What impact will the project have?</h1>
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate="novalidate">
        {{ crumbToken(crumb)}}
        {{ govukCheckboxes(checkboxes) }}
        {{ conditionalButtons(hasScore) }}
      </form>
    </div>
    {{ sideBar("Funding priorities","RPA wants to fund projects that:",
    ["improve productivity","improve the environment","improve water sustainability"]) }}
  </div>
{% endblock %}