{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./components/macro.njk" import crumbToken %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/project-cost" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ govukInput(inputProjectCost) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-m">Items selected</h4>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in projectItemsList %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
