{% extends '.layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "./components/macro.njk" import crumbToken %}

{% block pageTitle %}
  {% if errorList %}
    Error: 
  {% endif %} Which eligible items do you need for your project? - {{ siteTitle }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: 'linkBack'}
  }) }}

  {% if errorList %}
    {{govukErrorSummary ({
    "titleText": "There is a problem",
    "errorList": errorList
    }) }}
  {% endif %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What eligible items do you need for your project?</h1>
      <span id="project-items-hint" class="govuk-hint">
        Select all the items your project needs
      </span><br/><br/>
      <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate>
        {{ crumbToken(crumb) }}
        {{ govukCheckboxes(checkboxesInfrastucture) }}
        {{ govukCheckboxes(checkboxesEquipment) }}
        {{ govukCheckboxes(checkboxesTechnology) }}
        {{ govukButton({
          text: "Continue",
          attributes: {id: "btnContinue"}
        }) }}
      </form>
    </div>
  </div>
{% endblock %}