{% extends '.layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Problem with service - {{siteTitle}}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
          <h1 class="govuk-heading-xl">This session is closed</h1>
          <p>This session has been closed as it was inactive for over an hour. </p>
          <p>For your security, we have deleted your answers.</p>
          {{ govukButton({
            classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
            href: startLink,
            isStartButton: true,
            text: 'Start again'
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
