{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  Start - {{siteTitle}}
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: startLink
      },
      {
        text: "Check if you can apply for a Farming Transformation Fund water management grant",
        href: startLink
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-l">{{copyprovider(1)}}</h1>
      <p>{{copyprovider(2)}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{copyprovider(3)}}</li>
        <li>{{copyprovider(4)}}/li>
      </ul>
      <h2 class="govuk-heading-m">{{copyprovider(5)}}</h2>
      <p>{{copyprovider(6)}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{copyprovider(7)}}</li>
        <li>{{copyprovider(8)}}</li>
        <li>{{copyprovider(9)}}</li>
      </ul>
      <p class="govuk-body">{{copyprovider(10)}}</p>

      {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: button.nextLink,
      isStartButton: true,
      text: copyprovider(11),
      attributes: {id: "btnStart"}
    }) }}
    <h2 class="govuk-heading-m">{{copyprovider(12)}}</h2>

      <p>{{copyprovider(13)}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{copyprovider(14)}}</li>
        <li>{{copyprovider(15)}}</li>
        <li>{{copyprovider(16)}}</li>
      </ul>
      <p>{{copyprovider(17)}}</p>
      <h2 class="govuk-heading-m">{{copyprovider(18)}}</h2>
      <p>{{copyprovider(19)}}</p>
      <h3 class="govuk-heading-s">{{copyprovider(20)}}</h3>
      <p>{{copyprovider(21)}}</p>
      <p>{{copyprovider(22)}}</p>
      <p><a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges">{{copyprovider(23)}}</a> {{copyprovider(24)}}</p>
      <h3 class="govuk-heading-s">{{copyprovider(25)}}</h3>
      <p><a class="govuk-link" href="mailto:FTF@rpa.gov.uk">{{copyprovider(26)}}</a></p>
    </div>
  </div>
{% endblock %}