{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  {{siteTitle}} - Start
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: startLink
      },
      {
        text: "Check if you can apply for a Farming Transformation Fund water management grant",
        href: startLink
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-l">Check if you can apply for a Farming Transformation Fund water management grant</h1>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check if you can apply for a grant for your project (takes about 5 minutes)</li>
        <li>check how well your project fits the funding priorities (takes about 15 minutes if you have all the project details)</li>
      </ul>
      <p>If your project is eligible, you can submit your answers to the Rural Payments Agency (RPA) to request the full application form.</p>

      {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: button.nextLink,
      isStartButton: true,
      text: button.text,
      attributes: {id: "btnStart"}
    }) }}
    <h2 class="govuk-heading-m">Before you start</h2>

      <p>You need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about your business (for example, number of employees and turnover)</li>
        <li>information about the project (for example, irrigated land in hectares)</li>
        <li>an estimated total cost of the items you need</li>
      </ul>
      <h2 class="govuk-heading-s">Problems with the service</h2>
      <p>If you have any problems with the service, contact the RPA.</p>
      <p>Telephone: <b>03000 200 301</b></p>
      <p>Monday to Friday, 9am to 5pm (except public holidays)</p>
      <p><a target="_blank" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      <p>Email: <a href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a></p>
    </div>
  </div>
{% endblock %}